/*Aqui se edita toda la pagina*/
body{
    background-color: black;
    color: white;
}

 h1{
display: flex;
justify-content: center;
}
/*
header{
    display: flex;
    justify-content: space-between;
}
*/

/*Aqui editamos el TITULO*/
body header h1{
    color: purple;
    text-align: center;
}

