*{
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    
    header{
        background-color: green;
    }
    main{
        
        display: grid;
        grid-template-columns: 35% 1fr;
        aside{
            background-color: gray;
        }
        .arriba_uno{
            background-color: red;

        }
        .primera_parte_abajo{
            display: grid;
            grid-template-columns: 1fr 1fr; 
            .izquierda_uno{
                background-color: blueviolet;
            }
            .derecha_uno{
                background-color: peru;
            }     
        }
        
    }
    footer{
        background-color: aqua;
    }
}